{% extends 'base.html' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Your Account Has Been Activated!
                </div>
                <div style="padding-top:30px" class="panel-body">
                    Success! Your Attic account has been activated.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
