{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
    <div style="text-align:center;text-decoration:underline"><h3>Your Cart</h3></div>
	    <div class="cart_container">
		{% for item in cart %}
		    <div class="cart_item">
			    <div class="cart_listing">
				    <span class="title">{{ item.book.title }}</span> by {{ item.book.author.first_name }} {{ item.book.author.last_name }}
				</div>
				<div class="cart_price">
				    <span class="cart_quantity">{{ item.quantity }} x $<span class="cart_value">{{ item.book.price }}</span></span>
					Quantity: <a href="{% url 'add_to_cart' item.book.id %}">[+]</a> / <a href="{% url 'remove_from_cart' item.book.id %}">[-]</a>
				</div>
			</div>
		{% empty %}
			<div>
			There are no items in your cart.
			</div>
		{% endfor %}
		<div class="cart_total">
			 <h4> Total: $<span class="cart_value">{{ total }}</span></h4>
			{% if cart %}
			<a href="{% url 'complete_order' %}"><input type="submit" id="btn-logic" class="btn btn-success" value="Purchase"></a>
			{% endif %}
		</div>
		</div>
	</div>
</div>
{% endblock %}