{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
<div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
   <div class="detail_book_display">
      <img class="detail_book_img" src="{% static 'base/img/empty_cover.jpg' %}">
	  <span class="detail_book_title">{{ book.title }}</span>
	  <span class="detail_book_author">{{ book.author }}</span>
	  <div class="detail_book_description">{{ book.description }}</div>
	  <div class="detail_book_reviews_title">Reviews</div>
	  <div class="detail_book_reviews">
	     {% if book.reviews %}
		    {% for review in book.reviews %}
			   {{ review.text }}
			{% endfor %}
		 {% else %}
		    There are no reviews for this book yet!
		 {% endif %}
		  
	  </div>
   </div>
</div>
{% endblock %}