{% extends 'bootstrap3/bootstrap3.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% load bootstrap_themes %}

{% load compress %}

{% block bootstrap3_extra_head %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    {% compress css %}
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
        Welcome to Mystery Books!
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand">The Attic</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cart' %}">My Shopping Cart</a></li>
                    {% endif %}
                </ul>
                <div class="navbar-form pull-right">
                    {% if request.user.is_authenticated %}
                            Welcome, {% if request.user.first_name %}
                            {{ request.user.first_name }}
                            {% else %}
                            {{ request.user.username }}
                            <!--auth_logout is found in Documents/bookstore-django/Lib/site-packages/registration/auth_urls-->
                            {% endif %}! <a class="link_text" href="{% url 'auth_logout' %}">Log Out</a>
                    {% else %}
                        <!--auth_logout is found in Documents/bookstore-django/Lib/site-packages/registration/auth_urls-->
                        Welcome!<a class="link_text" href="{% url 'auth_login' %}"> Log In</a> or <a class="link_text" href="{% url 'registration_register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <section class="cover">
    <div class="container-fluid content-main">
        <div class="parallax">
            <div class="row">
                {% block body %}
                    <div class="col-md-10 col-md-offset-1 col-sm-12 maincontent">
                       <div style="text-align:center;" class="greeting"><h3>Welcome to The Attic!</h3></div>
                        {% for book in books %}
                            <div class="storefront_book_display">
                                <a href="{% url 'book_details' book.id %}">
                                    <img src="{{ MEDIA_URL }}{{ book.cover_image }}">
                                    <span class="storefront_book_title">{{ book.title }}</span>
                                    <span class="storefront_book_author">{{ book.author }}</span>
                                </a>
                                {% if request.user.is_authenticated %}
                                    <span class="storefront_add_to_cart">
                                        <a href="{% url 'add_to_cart' book.id %}">[Add to Cart]</a>
                                    </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    </section>
    <!--<footer>-->
        <!--<div class="container-fluid">-->
       <!--<div class="row">-->
    <!--<div class="row text-center navbar footer">-->
        <!--<div class="col-md-12">-->
            <!--<p class="foottext">2016 Mystery Books</p>-->
        <!--</div>-->
    <!--</div>-->
           <!--</div>-->
            <!--</div>-->
    <!--</footer>-->

    <footer>
      <div class="container-fluid">
           <div style="text-align:center;margin-top:20px;font-size:14px;color:white;">
               <p>Made in India &copy; 2016 The Attic</p>
           </div>
       </div>
    </footer>

{% endblock %}