
body {
	font-family: 'Open Sans', sans-serif;
	font-color: #fff;
}

/* General link styles*/
a {
    color: #D8562B;
    text-decoration: none;
}

a:hover {
    color: #1CBC69;
    text-decoration: none;
}

/* Nav bar styles */
.navbar{
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
    color: #e6e6e6;
}

#navbar .navbar-nav li a {
    color: #D8562B;
    text-decoration: none;
}
#navbar .navbar-nav li a:hover {
    color: #1CBC69;
    text-decoration: none;
}
.navbar-header .navbar-brand {
    color: #e6e6e6;
}
.navbar-form {
    padding-top: 8px;
    color: #e6e6e6;
}

.yo{
  width:100%;
  height:100%;
}

.panel{
    margin-top:-620px;
}

.panel-info > .panel-heading {
    background-color: #D8562B;
    border-color: #D8562B;
}

.panel-info {
    border-color: #D8562B;
}

.panel-title {
    color: #e6e6e6;
}


/* General link styles*/

.maincontent {
    padding-top: 60px;
    position: absolute;
    top: 0;
    background-color: #fff;
    padding-bottom: 65px;
}

.footer {
    margin-right: auto;
    margin-left: auto;
    margin-bottom:-10px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    z-index: 1;
}

.foottext{
    margin-top:15px;
}

/* Fix a couple things for mobile/low-res */

@media screen and (max-width: 768px) {
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
  .maincontent {
    width: 80%;
    left: 10%;
  }
}

/* Storefront styles */

.storefront_book_display {
    width: 200px;
    display: inline-block;
    text-align: center;
}

.storefront_book_title {
    font-size: 14px;
    display: block;
    font-weight: bold;
}

.storefront_book_author {
    font-size: 11px;
    display: block;
}
.storefront_add_to_cart {
    display: block;
    margin-top: 10px;
}

/* Book detail styles */
.detail_book_display {
    text-align: center;
    margin-top: 20px;
}
.detail_book_img {
    margin-bottom: 20px;
}
.detail_book_title {
    font-size: 20px;
    display: block;
    font-weight: bold;
}
.detail_book_author {
    font-size: 16px;
    display: block;
}
.detail_book_description {
    text-align: left;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.detail_book_reviews_title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    display:block;
    font-weight: bold;
}

/* Cart Styles */
.cart_container {
		display: block;
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
}
.cart_item {
		width: 100%;
		margin-top: 20px;
		display: block;
		border-bottom: 1px solid black;
		padding-bottom: 20px;
}
.cart_listing {
		display: inline-block;
		width: 50%;
}
.cart_listing .title {
		display: block;
		font-weight: bold;
}
.cart_price {
		display: inline-block;
		text-align: right;
		width: 49%;
		vertical-align: top;
}
.cart_value {
		font-weight: bold;
}
.cart_quantity {
		display: block;
}
.cart_total {
		text-align: right;
		margin-top: 20px;
}
